<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Brain Mining_TextToSpeech</title>

  {% load static %}
  <!-- -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  {% comment %} <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/webfonts/fa-solid-900.ttf">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/webfonts/fa-solid-900.woff">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/webfonts/fa-solid-900.woff2"> {% endcomment %}
  
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">

  <!-- Plugin CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}"> 

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/freelancer.min.css' %}"> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/customizing.css' %}"/>
 
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 

  <!-- Plugin JavaScript -->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/freelancer.js' %}"></script>
</head>

<body id="page-top">
  
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Maratron</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#audiostore">audiostore</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#texttovoice">texttovoice</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#tensorboard">tensorboard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <img class="img-fluid hy d-block mx-auto" src="{% static 'img/giphy1.gif' %}" alt="">
      <h1 class="text-uppercase mb-0">Text To Speech</h1>
      <hr class="star-light">
    </div>
  </header>

  <!-- AudioStore Section -->
  <section class="portfolio" id="audiostore">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">audio store</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/cabin.png' %}" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-2">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/cake.png' %}" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-3">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/circus.png' %}" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-4">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/game.png' %}" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-5">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/safe.png' %}" alt="">
          </a>
        </div>
        <div class="col-md-6 col-lg-4">
          <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-6">
            <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
              <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'img/submarine.png' %}" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- TextToVoice Section -->
  <section class="portfolio" id="texttovoice">
    <div class="container">
      <h2 class="text-center text-uppercase text-secondary mb-0">Text To Voice</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
          <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
          <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
          {% csrf_token %}
            <div class="control-group">
              <div class="form-group floating-label-form-group controls mb-0 pb-2">
                <label>내용을 입력해주세요</label>
                <textarea class="form-control" name='text' id="text" rows="7" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-xl" id="button" name="synthesize">Synthesize</button>
            </div>
          </form>
          <p id="message"></p>
          <audio id="audio" controls autoplay hidden>
          </audio>
        </div>
      </div>
    </div>
  </section>

  <!-- TensorBoard Section -->
  <section class="bg-primary text-white mb-0" id="tensorboard">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">TensorBoard</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <div class="img-fluid mb-5 d-block mx-auto">
            <img class="img-fluid" src="{% static 'img/profile.png' %}" alt="">        
        </div>  
    </div>
  </section>

  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Your Website 2019</small>
    </div>
  </div>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fas fa-angle-up aa"></i>
    </a>
  </div> 
</body>
</html>
